.RichEditor-root {
  background: #fff;
  font-family: 'Georgia', serif;
  font-size: 12px;
  width: 94%;
  border-radius: 3px;
  display: flex;
  flex-flow: row wrap;
}

public-DraftEditorPlaceholder-root {
  font-size: 12px;
}
.RichEditor-editor {
  border-top: 2px solid #e3e9ff;
  cursor: text;
  font-size: 16px;
  margin-top: 10px;
  margin-right: 5px;
  margin-left: 5px;
  width: 100%;
}

.RichEditor-editor .public-DraftEditorPlaceholder-root,
.RichEditor-editor .public-DraftEditor-content {
  margin: 0 -15px -15px;
  padding: 15px;
}

.RichEditor-editor .public-DraftEditor-content {
  min-height: 100px;
}

.RichEditor-hidePlaceholder .public-DraftEditorPlaceholder-root {
  display: none;
}

.RichEditor-editor .RichEditor-blockquote {
  border-left: 5px solid #eee;
  color: #666;
  font-family: 'Hoefler Text', 'Georgia', serif;
  font-style: italic;
  margin: 16px 0;
  padding: 10px 20px;
}

.RichEditor-editor .public-DraftStyleDefault-pre {
  background-color: rgba(0, 0, 0, 0.05);
  font-family: 'Inconsolata', 'Menlo', 'Consolas', monospace;
  font-size: 16px;
  padding: 20px;
}
.RichEditor-controls2{
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  font-family: 'Helvetica', sans-serif;
  font-size: 14px;
  user-select: none;
}
.RichEditor-controls {
  display:flex;
  align-items: center;
  flex-flow: row wrap;
  font-family: 'Helvetica', sans-serif;
  font-size: 14px;
  margin: 5px 0 5px 5px ;
  user-select: none;
}

.RichEditor-styleButton {
  cursor: pointer;
  padding: 2px;
  border: 0.5px solid #af7eeb;
  background: radial-gradient(circle farthest-corner at 2px 4px, #a8e3e9, #af7eeb );
  color: black;
  border-radius: 5px;
  font-size: 14px;
  min-width: 20px;
  min-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 6.5px;
}

.RichEditor-activeButton {
  color: white;
}

.H1 {
  font-size: 15px;
  font-weight: bold;
}

.H2 {
  font-size: 13px;
  font-weight: bold;
}

.H3 {
  font-size: 12px;
  font-weight: bold;
}

.H4 {
  font-size: 11px;
  font-weight: bold;
}

.H5 {
  font-size: 10px;
  font-weight: bold;
}

.H6 {
  font-size: 9px;
  font-weight: bold;
}