@mixin transition($property: all, $duration: 0.45s, $ease: cubic-bezier(0.65,0,.076,1)) {
  transition: $property $duration $ease;
}

#root { height: 100%}

.wrap {
  display:  flex;
  flex-flow: column nowrap;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.button {
  align-self: center;
  bottom: 17px;
  position: relative;
  display: flex;
  align-items: center;
  background: radial-gradient(circle farthest-corner at 2px 4px, #a8e3e9, #af7eeb );
  height: 35px;
  max-width: 100%;
  width: 35px;
  border-radius: 13px;
  @include transition(all, 0.4s, cubic-bezier(0.65,0,.076,1));

  &__plus{
    margin-left: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    max-width: 100%;
    width: 20px;
    background: #ffffff;
    cursor: pointer;
    box-sizing: border-box;
    clip-path: polygon(0 37.5%, 37.5% 37.5%, 37.5% 0, 62.5% 0, 62.5% 37.5%, 99% 37.5%, 99% 62.5%, 62.5% 62.5%, 62.5% 99%, 37.5% 99%, 37.5% 62.5%, 0 62.5%);
    transition: all 0.4s cubic-bezier(0.65, 0, 0.076, 1);

    &:hover {
      background: #000000;
      transform: rotate(90deg);
    }
  }

  &__title {
    position: absolute;
    font-size: 11px;
    font-family: Colus, sans-serif;
    width: 106px;
    left: 30px;
    right: 0;
    margin: auto;
    color: white;
    pointer-events: none;
    visibility: hidden;

  }
  &:hover {
    width: 145px;
    //border: 1px solid #ae8cea;
    cursor: pointer;

    .button__plus {
      transform: rotate(90deg);
      transition: transform 1s;
      background: white;
    }

    .button__title {
      color: white;
      visibility: visible;
      @include transition(all, 0.8s, cubic-bezier(0.65,0,.076,1));
    }
  }
}

.textArea {
  background: #e3e9ff;
  width: 600px;
  border-radius: 6px;
  word-wrap: break-word;
  padding: 5px;
  font-size: 18px;
  position: relative;
  z-index: 11;

  &__background {
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background: black;
    z-index: 10;
  }

  &__button-close {
    color: white;
    align-self: flex-end;
    z-index: 11;
    cursor: pointer;
    margin-right: 35px;
  }

  &__container{

  }
}

.modal-background {
  position: absolute;
  left: 0;
  top:0;
  width: 100%;
  height: 100%;
  opacity:0;
  background: black;
  z-index: 10;
}

//html, body {
//  height: 100%;
//  overflow: hidden;
//}





