@mixin transition($property: all, $duration: 0.45s, $ease: cubic-bezier(0.65,0,.076,1)) {
  transition: $property $duration $ease;
}

#root { height: 100%}

.wrap {
  display:  flex;
  flex-flow: column nowrap;
  width: 700px;
  justify-content: center;
  align-items: center;


}

.DayPicker {
  font-family: Colus, sans-serif;
  outline: none;
  min-width: 372px;
  width: 374px;
  flex-flow: column nowrap;

  &-NavBar {
position: relative;
  }

  &-Caption {
    text-align: center!important;
  }

  &-Weekday {
    color: black!important;
  }

  &-NavButton {
    outline: none;
  }

  &-Months {
    outline: none;
  }

  &-wrapper {
    border-radius: 19px;
    background: radial-gradient(circle farthest-corner at 50px 50px, #a8e3e9, #af7eeb );
    outline: none;
    &::before {
      z-index: -1;
      content: '';
      position: absolute;
      width: 350px;
      height: 49px;
      margin: auto;
      opacity: 0.4;
      left: 0;
      right: 0;
      border-radius: 58px;
      top: 349px;
      background: #ae90ea;
    }

    &::after {
      z-index: -1;
      content: '';
      position: absolute;
      width: 322px;
      height: 57px;
      margin: auto;
      opacity: 0.3;
      left: 0;
      right: 0;
      border-radius: 58px;
      top: 349px;
      background: #ae90ea;
    }

  }

  &-Body {
    background: inherit;
  }

  &-Week {
    background-color: inherit;
  }

  &-Day {
    flex-flow: column;

    &--selected {
      box-sizing: border-box;
      @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
    }

    &:focus {
      outline: none;
    }
    &--outside {
      color: #8B9898!important;
      cursor: default;
    }

    &--today {
      color: red!important;
    }
    &--daysWithTask {
      border-radius: 10px!important;
      @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));

      &:hover {
        box-shadow: inset 0 36px 4px 17px white!important;
        color: #986ccb;
      }

      &--daysWithDoneTask{
        &:hover {
          box-shadow: inset 0 36px 4px 17px white!important;
          color: #986ccb;
        }
      }
    }

    &:hover {
      background-color: inherit!important;
      box-shadow: inset 0 0 14px white;
    }

  }
}

.button {
  align-self: center;
  bottom: 17px;
  position: relative;
  display: flex;
  align-items: center;
  background: radial-gradient(circle farthest-corner at 2px 4px, #a8e3e9, #af7eeb );
  height: 35px;
  max-width: 100%;
  width: 35px;
  border-radius: 13px;
  @include transition(all, 0.4s, cubic-bezier(0.65,0,.076,1));

  &__plus{
    margin-left: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    max-width: 100%;
    width: 20px;
    background: #ffffff;
    cursor: pointer;
    box-sizing: border-box;
    clip-path: polygon(0 37.5%, 37.5% 37.5%, 37.5% 0, 62.5% 0, 62.5% 37.5%, 99% 37.5%, 99% 62.5%, 62.5% 62.5%, 62.5% 99%, 37.5% 99%, 37.5% 62.5%, 0 62.5%);
    transition: all 0.4s cubic-bezier(0.65, 0, 0.076, 1);

    &:hover {
      background: #000000;
      transform: rotate(90deg);
    }
  }

  &__title {
    position: absolute;
    font-size: 11px;
    font-family: Colus, sans-serif;
    width: 106px;
    left: 30px;
    right: 0;
    margin: auto;
    color: white;
    pointer-events: none;
    visibility: hidden;

  }
  &:hover {
    width: 145px;
    //border: 1px solid #ae8cea;
    cursor: pointer;

    .button__plus {
      transform: rotate(90deg);
      transition: transform 1s;
      background: white;
    }

    .button__title {
      color: white;
      visibility: visible;
      @include transition(all, 0.8s, cubic-bezier(0.65,0,.076,1));
    }
  }
}

//html, body {
//  height: 100%;
//  overflow: hidden;
//}





