.wrap-textArea {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background: #e3e9ff;
  width: 374px;
  box-shadow: 0 4px 10px -8px black;
  padding-top: 10px;
  border-radius: 19px;
}

.container {
  box-sizing: border-box;
  border: none;
  border-radius: 3px;
  resize: none;
  font-size: 20px;
  line-height: 24px;
  overflow: auto;
  height: auto;
  width: 94%;

  &:focus {
    outline: none;
  }

  &:hover .control {
    visibility: visible;
  }
}

.button-add {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  border-radius: 15px;
  cursor: pointer;
  font-family: Colus, sans-serif;
  font-size: 11px;
  width: 80px;
  background: radial-gradient(circle farthest-corner at 2px 4px, #a8e3e9, #af7eeb );
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
}