.wrap-textArea {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  background: #e3e9ff;
  width: 374px;
  box-shadow: 0 4px 10px -8px black;
  padding-top: 10px;
  border-radius: 19px;
  position: relative;
}

//.container {
//  box-sizing: border-box;
//  border: none;
//  border-radius: 3px;
//  resize: none;
//  font-size: 20px;
//  line-height: 24px;
//  overflow: auto;
//  height: auto;
//  width: 94%;
//
//  &:focus {
//    outline: none;
//  }
//
//  &:hover .control {
//    visibility: visible;
//  }
//}

.button-add {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  border-radius: 15px;
  cursor: pointer;
  font-family: Colus, sans-serif;
  font-size: 11px;
  width: 80px;
  background: radial-gradient(circle farthest-corner at 2px 4px, #a8e3e9, #af7eeb );
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
}

.button-time {
  border-top: 2px solid #e3e9ff;
  cursor: text;
  font-size: 16px;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
  background: white;
  height: 40px;
  width: 100%;

  &__title {
    opacity: 0.7;
    margin: 0;

  }

  &:hover {
    color: black;
    //opacity: 0.7;
  }
}
